body {
    font-family: SegoeUI
}

div#item-box {
    float: right;
    min-width: 300px;
    max-width: 300px;
    background: #000
}

.item-box-img-banner {
    background: #21610b;
    height: 90px
}

.item-box-img-container {
    position: relative;
    left: 5px;
    top: 5px;
    height: 80px;
    width: 80px;
    background-color: #000;
    border: 1px solid #0f0;
    float: left;
}

.item-stats-container {
    float: left;
    height: 80px;
}

.item-rarity {
    position: absolute;
    right: 10px;
    bottom: -35px;
    color: lightgreen;
}

#wiki-content {
    float: left;
    width: 75%
}

.item-box-line {
    width: 100%;
    min-height: 25px;
    margin-top: 0;
    border-bottom: 1pxsolid#000;
    clear: both
}

.item-box-line:last-of-type {
    border-bottom: none
}

.item-box-img {}

.item-box-linep {
    text-align: center;
    padding-top: 0!important;
    height: 25px;
    line-height: 25px;
    vertical-align: middle
}

.item-box-value-title {
    border-right: 1pxsolid#000;
    font-size: 11px;
    float: left;
    width: 50%;
    min-height: 25px
}

.item-box-value {
    font-size: 11px;
    float: right;
    width: 50%;
    min-height: 25px;
    text-align: center
}

.clear {
    clear: both
}

.tradeskill-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #000
}

.table-container {
    background-color: #111;
    border-radius: 5px;
    border: 1pxsolid#000;
    width: 50%
}

.table-containertable {
    margin: 0!important
}

th {
    height: 20px;
    width: 150px;
    text-align: center;
    padding: 20px!important
}

td {
    height: 20px;
    width: 150px;
    padding: 20px!important;
    text-align: center
}